@charset "utf-8";
body {
	background-image: -webkit-linear-gradient(180deg,rgba(255,255,255,1.00) 40.41%,rgba(255,255,255,1.00) 40.41%,rgba(0,68,255,1.00) 100%);
	background-image: -moz-linear-gradient(180deg,rgba(255,255,255,1.00) 40.41%,rgba(255,255,255,1.00) 40.41%,rgba(0,68,255,1.00) 100%);
	background-image: -o-linear-gradient(180deg,rgba(255,255,255,1.00) 40.41%,rgba(255,255,255,1.00) 40.41%,rgba(0,68,255,1.00) 100%);
	background-image: linear-gradient(270deg,rgba(255,255,255,1.00) 40.41%,rgba(255,255,255,1.00) 40.41%,rgba(0,68,255,1.00) 100%);
	text-align: center;
	margin-right: 263px;
	margin-left: 267px;
	overflow-x: visible;
	overflow-y: visible;
	left: 0px;

}
.homeimg {
	padding-right: 0px;
	overflow-x: hidden;
	opacity: 1;
	overflow-y: hidden;
	position: fixed;
	padding-top: 0px;
	padding-bottom: 0px;
	background-attachment: fixed;
	top: 95px;
	left: 1288px;
}
.contactimg {
	padding-right: 0px;
	overflow-x: hidden;
	opacity: 1;
	overflow-y: hidden;
	position: fixed;
	padding-top: 0px;
	padding-bottom: 0px;
	background-attachment: scroll;
	top: 254px;
	left: 1125px;


}
body h1 {
	text-transform: capitalize;
	color: #B8585A;
	font-family: bangers;
	font-variant: small-caps;
	font-size: 60px;
	left: 0px;
	text-align: center;
	font-style: normal;
	font-weight: 400;


}
body h2 {
	text-align: center;
	-webkit-box-shadow: 0 0px;
	box-shadow: 0 0px;
}
.joinus {
	color: #1A00FF;
	font-family: bangers;
	font-style: normal;
	font-weight: 400;
	border: thick outset #E8FF00;
	background-image: -webkit-linear-gradient(270deg,rgba(245,252,0,1.00) 0%,rgba(229,225,236,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(245,252,0,1.00) 0%,rgba(229,225,236,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(245,252,0,1.00) 0%,rgba(229,225,236,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(245,252,0,1.00) 0%,rgba(229,225,236,1.00) 100%);
	border-radius: 0px / 89px;
	width: 98px;
	text-align: center;
	padding-right: 0px;
	padding-left: 0px;
	position: fixed;
	left: 1531px;
	top: 60px;
}
.joinus a:hover {
	color: #E0E44D;
	font-family: bangers;
	font-style: normal;
	font-weight: 400;
	background-image: -webkit-linear-gradient(270deg,rgba(10,0,255,1.00) 0%,rgba(229,225,236,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(10,0,255,1.00) 0%,rgba(229,225,236,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(10,0,255,1.00) 0%,rgba(229,225,236,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(10,0,255,1.00) 0%,rgba(229,225,236,1.00) 100%);
	border-radius: 0px / 89px;
	text-align: center;
	padding-left: 27px;
	padding-right: 27px;

}
.homebutton
 {
	position: fixed;
	left: 25px;
	color: #1A00FF;
	font-family: bangers;
	font-style: normal;
	font-weight: 400;
	border: thick outset #E8FF00;
	border-radius: 0px / 89px;
	text-align: center;
	background-image: -o-linear-gradient(270deg,rgba(245,252,0,1.00) 0%,rgba(229,225,236,1.00) 100%);
	background-image: -webkit-linear-gradient(270deg,rgba(245,252,0,1.00) 0%,rgba(229,225,236,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(245,252,0,1.00) 0%,rgba(229,225,236,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(245,252,0,1.00) 0%,rgba(229,225,236,1.00) 100%);
	width: 98px;
	top: 60px;
}
.homebutton a:hover {
	color: #E0E44D;
	font-family: bangers;
	font-style: normal;
	font-weight: 400;
	background-image: -webkit-linear-gradient(270deg,rgba(10,0,255,1.00) 0%,rgba(229,225,236,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(10,0,255,1.00) 0%,rgba(229,225,236,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(10,0,255,1.00) 0%,rgba(229,225,236,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(10,0,255,1.00) 0%,rgba(229,225,236,1.00) 100%);
	border-radius: 0px / 89px;
	text-align: center;
	padding-left: 34px;
	padding-right: 34px;
	
}
.links {
	border-style: groove;
	border-color: #F40004;
	padding-right: 10px;
	background-color: #FB0004;
	border-radius: 9px;
	text-align: center;
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	
}
.links a:hover {
	color: #A9EF40
	
}
.guidelineimg{
	left: -1px;
	top: 177px;
	position: static;

}
.whatiscosimg {
	position: fixed;
	margin-left: -635px;
}
